.toDoForm {
    margin: 30px 0;
    border: 0;

    input {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #aaaaaa;
        padding-left: 20px;
    }

    button {
        margin: 0 10px;
    }
}